.starPkgStyle {
  height: 100vh;
  background-image: url('../../assets/img/starPkg/pageBg.jpg');
  overflow: auto;

  .bannerTop {
    position: relative;

    .bannerImg {
      width: 100%;
    }

    .clickDiv {
      position: absolute;
      width: 130px;
      height: 100px;
      // background-color: red;
      right: 70px;
      bottom: 70px;
    }
  }

  .starMain {
    padding: 0 38px;
    margin-top: -70px;

    .privilegeStyle {
      padding: 40px 28px;

      .privilegeItem {

        .privilegeTitle {
          font-size: 32px;
          font-family: PingFangSC-Semibold,
            PingFang SC;
          font-weight: 600;
          color: #00E4FF;
          line-height: 44px;
          padding: 22px 0 10px 0;
        }

        .privilegeContent {
          display: flex;

          .privilegeText {
            font-size: 26px;
            font-family: PingFangSC-Regular,
              PingFang SC;
            font-weight: 400;
            color: #FFFFFF;
            line-height: 36px;
            padding-bottom: 26px;
            flex: 1;
            padding-left: 14px;
          }

          .privilegeCycle {
            width: 12px;
            height: 12px;
            background: #00E4FF;
            box-shadow: 0px 0px 16px 0px #24FFCB;
            border-radius: 50%;
            margin-top: 16px;
          }
        }
      }
    }

    .warnTitle {
      font-size: 32px;
      font-family: PingFangSC-Semibold,
        PingFang SC;
      font-weight: 600;
      color: #00E4FF;
      line-height: 44px;
      padding-top: 22px;
      padding-bottom: 16px;
    }

    .warnText {
      font-size: 32px;
      font-family: PingFangSC-Regular,
        PingFang SC;
      font-weight: 400;
      color: #D9F9FF;
      line-height: 44px;
    }
  }

  .privilegeHeight {
    height: 48px;
    width: 100%;
  }

}

.starPkgBtn {
  position: fixed;
  z-index: 100;
  bottom: 122px;
  left: 42px;
  right: 42px;
  border: none;
  background: linear-gradient(180deg, #38CEFF 0%, #0F55FC 100%);
  box-shadow: 0px 0px 12px 0px rgba(0, 80, 252, 0.39),
    0px 2px 4px 0px rgba(31, 122, 255, 0.27),
    0px -6px 10px 0px rgba(0, 69, 222, 0.5);
  border-radius: 72px;
  font-size: 36px;
  font-family: PingFangSC-Semibold,
    PingFang SC;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: height 0.5s;

  &:hover {
    color: #fff;
  }
}

.starPkgBtnHide {
  height: 0;
  opacity: 0;
  transition: height 0.5s;
}