.cardStyle {
  width: 100%;
  background: rgba(3, 28, 78, 0.6);
  box-shadow: 0px 2px 60px 0px rgba(31, 213, 255, 0.3);
  border-radius: 32px;

  .cardTitle {
    width: 57%;
    margin: auto;
    padding: 14px 0px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('../../../../assets/img/starPkg/titleBg.png');
    font-size: 32px;
    font-family: PingFangSC-Semibold,
      PingFang SC;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}