.invoiceStyle {
  width: 100%;
  background-color: rgba(245, 247, 249);

  :global {
    .am-tabs-default-bar {
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
    }

    .am-tabs-default-bar-tab .am-tabs-default-bar-tab-active {
      color: rgba(4, 28, 30, 1);
      font-size: 32px;
      text-align: center;
    }

    .am-tabs-default-bar-top .am-tabs-default-bar-tab {
      border: none;
    }

    .am-list-body {
      background-color: rgb(245, 247, 249);
      border: none;
    }
  }

  .seatHeight {
    width: 100%;
    height: 26px;
    background-color: rgba(245, 247, 249);
  }
}
