.center {
  padding-top: 48px;
  padding-right: 48px;
  padding-left: 48px;

  .inputHint {
    margin-top: 32px;
    color: #696d6c;
    font-size: 24px;
  }

  .btn {
    margin-top: 48px;
    color: #fff;
    font-size: 36px;
    text-align: center;
    background-color: #f53c54;
    border-radius: 50px;
  }
}
