.proxyStyle {
  .proxyTop {
    width: 100%;
  }

  .proxyContent {
    // padding: 0 28px;
    background-image: url('../../../assets/img/quickOrder/yellowBg.png');
    background-size: 100% 100%;
    padding-bottom: 150px;

    .proxyImg {
      width: 100%;
    }

    .formCardCompStyle {
      padding: 28px;
    }
  }
}