.updateApply {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 90px);

    .content {
        flex: 1;
        overflow-y: scroll;

        .tipMsg {
            // height: 75px;
            padding:22px 32px;
            color: #fff;
            font-size: 30px;
            // line-height: 75px;
            background: #FF8B59;

            img {
                width: 32px;
                height: 32px;
            }
        }
    }

    .logisticsInfo {
        padding: 32px 0;
        background: #fff;

        .pageTitle {
            padding: 0 32px;
            color: #333;
            font-weight: 600;
            font-size: 32px;
        }

        .des {
            padding: 0 32px;
            color: #999;
            font-size: 26px;
        }
    }

}
