.biliStyle {
  .biliTop {
    width: 100%;
  }

  .content {
    overflow-y: scroll;
    height: 100%;
  }

  .biliContent {
    // padding: 0 14px;
    background-color: #FDB2DD;
    padding-bottom: 150px;

    .biliImg {
      width: 100%;
    }

    .formCardCompStyle {
      padding: 28px;
    }
  }
}