.headCell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 34px;
  background: #fff;
  border-bottom: solid 1px #e3e3e3;

  .leftContent {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;

    .myIndex {
      color: #666;
      font-weight: 400;
    }

    .headsTitle {
      color: #333333;
      font-weight: 500;
    }

    .headToux {
      width: 70px;
      height: 70px;
      margin: 0 28px;
    }

    .currentNum {
      color: #4E5BE9;
    }
  }

  .showText {
    color: #999;
    font-weight: 400;
    font-size: 24px;
  }
}
