.checkoutPage {
  height: 84%;
  overflow-y: scroll;

  .money {
    padding: 24px 0;
    color: #f53c54;
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    background: #fff;

    .priceInteger {
      font-size: 60px;
    }
  }

  .payMethodParent {
    padding: 0 0 20px 0;
    background-color: #f1f2f3;
  }

  .payMethod {
    padding: 16px 24px;
    color: rgba(4, 28, 30, 1);
    font-weight: 400;
    font-size: 24px;
    background: rgba(252, 252, 252, 1);
  }

  .otherPayBlock {
    padding: 10px 24px;
    background: rgba(255, 255, 255, 1);
    border-radius: 0 0 24px 24px;
  }

  .cardPayBlock {
    margin-top: 20px;
    padding: 0 24px;
    background: #fff;
  }

  .newCardItemText {
    color: rgba(4, 28, 30, 1);
    font-weight: 400;
    font-size: 24px;
  }

  .newCardSubText {
    color: rgba(179, 181, 183, 1);
    font-weight: 400;
    font-size: 24px;
  }
}

.cardItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px 0;
  border-bottom: solid 1px #f3f3f3;

  &:last-child {
    border-bottom: none !important;
  }
}

.cardIcon {
  width: 64px;
  height: 64px;
  margin-right: 10px;
}

.rightIcon {
  width: 40px;
  height: 40px;
}
