.payResult {
  height: 100vh;
  background: #fff;

  img {
    width: 100px;
    height: 100px;
  }

  .payInfo {
    padding: 100px;
    text-align: center;

    .payDes {
      padding-top: 8px;
      color: #242424;
      font-weight: 400;
      font-size: 32px;
    }

    .payAmount {
      color: #242424;
      font-weight: 600;
      font-size: 64px;
    }

    .orderDes {
      margin-top: 30px;
      color: #929292;
      font-weight: 400;
      font-size: 28px;
    }
  }

  .footBtn {
    text-align: center;

    span {
      padding: 20px 134px;
      color: #fff;
      font-weight: 500;
      font-size: 34px;
      background: linear-gradient(90deg, #6db4ff 0%, #187dfb 100%);
      border-radius: 45px;
    }
  }
}
