.giftModalStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;

  :global {
    .am-modal-content {
      width: 100%;
      border-radius: 32px !important;
      padding-bottom: 18px;
    }
  }

  .hasGiftImg {
    width: 386px;
  }

  .smallText {
    font-size: 28px;
    font-family: PingFangSC-Regular,
      PingFang SC;
    font-weight: 400;
    color: #84540D;
    line-height: 48px;
    padding-top: 8px;
    padding-bottom: 32px;
  }

  .giftName {
    font-size: 32px;
    font-family: PingFangSC-Medium,
      PingFang SC;
    font-weight: 500;
    color: #84540D;
    line-height: 44px;
    padding-bottom: 32px;
  }

  .backBtn {
    border-radius: 44px;
    border: 2px solid #FBB919;
    padding: 16px 142px;
    font-size: 28px;
    font-family: PingFangSC-Regular,
      PingFang SC;
    font-weight: 400;
    color: #FBB91A;
    line-height: 40px;
  }
}