.rankItem {
  display: flex;
  align-items: center;

  .labelText {
    margin-top: 20px;
    margin-right: 28px;
    color: #041c1e;
    font-weight: 500;
    font-size: 28px;
  }

  img {
    width: 48px;
    height: 48px;
    margin-top: 20px;
    margin-right: 20px;
  }
}
