.myService {
    height: 100%;
}

.serviceList {
    // height: auto;
    // max-height: calc(90vh - 130px);
    margin-top: 20px;
    padding: 0 32px;
    overflow: scroll;
    background: #fff;
}

.noPhoneList {
    margin-top: 80px;
    text-align: center;
}