.cartModalStyle {
  :global {
    .am-modal-content {
      border-radius: 24px 24px 0 0;
    }

    .am-modal-body {
      padding: 0 !important;
    }
  }

  .cartTab {
    max-height: 70vh;
    padding-left: 32px;
    overflow: auto;
  }
}
